.box {
    border: 1px solid grey;
    height:500px;
    width: 250px;
    border-radius: 10px;
    overflow:hidden;
    padding: 5px
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}
span {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 5px;
}
.first {
    margin-right: 10px;
}

p {
    color: rgb(82, 80, 80);
    margin-left: 8px;
}

h2 {
    margin-left: 8px;
}
.button-box {
    text-align: center;
}

button {
    border-radius: 10px;
    border: 1px solid rgb(174, 210, 235);
    background-color: rgb(174, 210, 235);
    color:rgb(36, 90, 141);
    padding: 3px 7px;
}

body {
  margin: 0;
  height: 100vh;                  /* full viewport height */
  display: flex;
  justify-content: center;        /* horizontal center */
  align-items: center;            /* vertical center */
}